<?xml	version="1.0"	encoding="UTF-8"?>
<widget	xmlns="http://www.w3.org/ns/widgets"
           xmlns:gap="http://phonegap.com/ns/1.0"
           id="br.com.sisdeve.cenourapp"
           version="1.0.0">
    <name>
        Primeira App ...
    </name>
    <description>
        Menu	do	restaurante	Só	de	Cenoura.
    </description>
    <author	href="http://www.sisdeve.com.br"
               email="hanunjunior@gmail.com">
        Winston Hanun Júnior
    </author>
</widget>